---
meta:
  author: HOLEFIGHTER
  description: Fighting game
  keywords: Keyboard, input, hit, punch
  tabcolor: #000000
header: &1 ULTIMATE FIGHTING GAME
folder: ""
title: *1
scripts:
  - /src/ts/main.ts
---

{{> header}}
<section class="gui"></section>
{{> footer}}
