@font-face
  font-family Inter
  src url("./fonts/Rubik-Light.ttf")
  font-style normal
  font-display swap

body
  font-family Inter
  color white
  padding 0
  margin 0

header, footer
  display none

canvas
  display block
  width 100%
  image-rendering optimizeSpeed
  image-rendering -moz-crisp-edges          
  image-rendering -webkit-optimize-contrast 
  image-rendering -o-crisp-edges            
  image-rendering pixelated                 
  -ms-interpolation-mode nearest-neighbor

.gui
  position absolute
  background #0a67
  padding 10
  font-size 12
  ul
    list-style-type none
    padding 5
	li
	  display flex
	  flex-direction column
	  margin-bottom 10
	  &:last-child
	    margin-bottom 0

.hide
  width 0
  height 0
  background #0a60
