<div class="media-container">
    <div class="player-container">
        <div class="info"></div>
        {{> button name="prev"}}
        {{> button name="play"}}
        {{> button name="next"}}
        {{> button name="loop"}}
        <div class="length-container">
            <div class="length"></div>
        </div>
    </div>
    {{> playlist }}
</div>
