{{#each data}}
  {{#unless (match @key '_name')}}
    {{#if (gt (length this) 1)}}
      <a href="
         {{#if (match @key 'index')}}
         index.hbs
         {{else}}
         .{{append ../path (append '/' @key)}}/index.hbs
         {{/if}}
         ">
      </a>
      {{#if (match @key 'index')}}
        {{> build data=this path=''}}
      {{else}}
        {{> build data=this path=(append ../path (append '/' @key))}}
      {{/if}}
      {{else}}
      {{#if @key}}
         <a href=".{{append ../path (append '/' @key)}}.hbs"></a>
      {{else}}
         <a href=".{{append ../path '/'}}index.hbs"></a>
      {{/if}}
     {{/if}}
  {{/unless}}
{{/each}}
