</main>
<footer>
    <div class="footer-container">
        <p>© {{meta.author}} <time>2023</time></p>
    </div>
</footer>
{{#each scripts}}
<script defer type="module" src="{{this}}"></script>
{{/each}}
</body>
</html>
