<ul>
    {{#each data}}
    {{#unless (match @key '_name')}}
    <li>
        {{#if (gt (length this) 1)}}
        {{#if (match @key 'index')}}
        {{else}}
        <a href="{{append ../path (append '/' @key)}}">{{this._name}}</a>
        {{/if}}
        {{#if (match @key 'index')}}
        {{> navigation data=this path=''}}
        {{else}}
        {{> navigation data=this path=(append ../path (append '/' @key))}}
        {{/if}}
        {{else}}
        <a href="{{append ../path (append '/' @key)}}">
            {{this._name}}
        </a>
        {{/if}}
    </li>
    {{/unless}}
    {{/each}}
</ul>
