{{#each data}}
<div class="songs-container {{@key}}">
        {{#each this}}
        <div class="song-container">
            <p>{{@key}}</p>
            <audio controls>
                <source src="/src/audio/{{this}}" type="audio/mpeg">
                <p>HTML5 Audio not supported
                <a src="/src/audio/{{this}}">Load {{@key}}</a>
                </p>
            </audio>
        </div>
        {{/each}}
    </div>
{{/each}}
