<figure {{#if iframe}}class="video"{{/if}} >
    {{#if iframe}}
        <iframe loading="lazy" src="{{path}}" title="IFrame Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else}}
        <video controls src="{{path}}"></video>
    {{/if}}
    {{#if caption}}
        <figcaption>{{caption}}</figcaption>
    {{/if}}
</figure>
